<div *ngIf="exercise">
  <h2>{{exercise.name | uppercase}}</h2>
  <div>Type of exercise: {{exercise.typeOfExercise}}</div>
  <div>Repetition: {{exercise.repetition}}</div>

  <h2>Change exercise</h2>
  <div>
    <label for="exericse-name">Exercise Name: </label>
    <input id="exercise-name" [(ngModel)]="exercise.name" placeholder="exercise name" />
    <label for="exercise-typeOfExercise">Type of exercise</label>
    <input id="exercise-typeOfExercise" [(ngModel)]="exercise.typeOfExercise" placeholder="type of exercise" />
    <label for="exercise-repetition">exercise repetition</label>
    <input id="exercise-repetition" [(ngModel)]="exercise.repetition" placeholder="exercise repetition" />
  </div>
  <button type="button" (click)="save()">save</button>
</div>

<button type="button" (click)="goBack()">go back</button>
