<div *ngIf="exercise">
  <h2>{{exercise.name | uppercase}}</h2>
  <div>Type of exercise: {{exercise.typeOfExercise}}</div>
  <div>Repetition: {{exercise.repetition}}</div>

  <h2>Change exercise</h2>
  <div>
    <label for="exericse-name">Exercise Name: </label>
    <input id="exercise-name" [(ngModel)]="exercise.name" placeholder="exercise name" />
    <label for="exercise-typeOfExercise">Type of exercise</label>
    <select [formControl]="exerciseTypesForms">
      <option *ngFor="let type of exerciseTypes" [value]="type" [selected]="type">{{type}}</option>
    </select>
  </div>
  <div [formGroup]="exerciseRepetitionForms">
    <div formArrayName="reps">
      <h2>Exercise Reps:</h2>
      <button type="button" (click)="addExerciseRep()"> Add another rep</button>

      <div *ngFor="let rep of reps.controls; let i=index" [formGroupName]="i">
        {{exerciseTypeLabel1}}:
        <input id="rep-{{ i }}" type="number" min="1" formControlName="repsNumber" />
        / {{exerciseTypeLabel2}}:
        <input id="weight-{{ i }}" type="number" min="0" formControlName="repsDifficulty" />
        {{exerciseTypeLabel3}}
        <button type="button" (click)="removeExerciseRep(i)">X</button>
      </div>
    </div>
    <button type="button" (click)="save()">save</button>
  </div>
</div>

<button type="button" (click)="goBack()">go back</button>



